<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<specFlow>
		<unitTestProvider name="NUnit" />
		<stepAssemblies>
			<stepAssembly assembly="SpecFlowProjectMeDirectUI" />
		</stepAssemblies>
		<hooks>
			<hook type="SpecFlowProjectMeDirectUI.Hooks.Hooks, SpecFlowProjectMeDirectUI" />
		</hooks>
	</specFlow>
</configuration>